.about {
    background: #f9f9f9;
    padding: 50px 0 115px;

    .container-fluid {
        padding: 0 100px;
    }

    .col-md-4 {
        padding: 0 30px;
    }

    h2 {
        text-align: right;
        text-transform: uppercase;
        margin-left: auto;
        padding: 80px 0 30px;
    }

    .about_text {
        text-align: right;
        margin-left: auto;
    }

    .about_img {
        padding-bottom: 170px;

        img {
            width: 100%;
            padding: 40px 0 0 90px;
        }
    }

    .about_box {

        &_text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 230px;

            p {
                padding: 20px 40px 40px;
            }
        }
        
        &-img {
            height: 225px;
            overflow: hidden;
            transition: all 200ms ease-out;
        }

        &:hover .about_box-img {
            mix-blend-mode: initial;
        }

        &-img1 {
            background: url(../../assets/img/img-1.jpeg) center/cover no-repeat;
        }

        &-img2 {
            background: url(../../assets/img/img-2.jpeg) center/cover no-repeat;
        }

        &-img3 {
            background: url(../../assets/img/img-3.jpeg) center/cover no-repeat;
        }

    }

    @media (min-width: 1500px){
        .container {
            max-width: 1440px;
        }
    }

}