.contact {
    padding: 70px 0 50px;

    .container-fluid {
        padding: 0 100px;
    }

    h2 {
        text-align: center;
    }

    .subtext {
        padding: 30px 0 80px;
    }

    &-content {
        padding: 50px 0 0 50px;

        &_list {
            list-style: none;
            padding: 38px 0 25px;

            li {
                padding: 5px 35px;

                &:nth-child(3) {
                    background: url(../../assets/img/contact.png) 0 -19% / 15px no-repeat;
                }

                &:nth-child(1) {
                    background: url(../../assets/img/contact.png) 0 44% / 15px no-repeat;
                }

                &:nth-child(2) {
                    background: url(../../assets/img/contact.png) 0 167% / 15px no-repeat;
                }

                a {
                    font-family: 'Montserrat';
                    color: inherit;
                    transition: .3s;

                    &:hover {
                        color: var(--primary-color);
                        text-decoration: none;
                    }
                }
            }
        }

        &_social {
            list-style: none;
            display: flex;
            padding: 100px 0 0;

            li {
                padding: 0 22px 0 0;

                a {
                    svg g path {
                        fill: #b7b3b3;
                        transition: .3s;
                    }

                    &:hover svg g path {
                        fill: var(--primary-color);
                    }

                }

            }
        }

        &_city {
            padding: 35px 0 45px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    }

    path {
        fill: #aaa;
        stroke: #ddd;
        stroke-width: 0.5;
    }


    .btn {
        display: inline-block;
        font-size: inherit;
        line-height: 1.2;
        padding: 0;
        border: 0;
        margin: 10px 25px 10px 0;
        border-radius: 0.1875rem;
        cursor: pointer;
        transition: .3s;
        color: var(--text-color);
        font-family: 'Montserrat';
    }

    .btn:hover,
    .btn:focus {
        outline: none;
        box-shadow: none;
        color: var(--primary-color);
    }
}