
.header {
    background: url(../../assets/img/bg-header.jpg) center / cover no-repeat fixed;
    padding: 30px 0 250px;
    color: var(--text-light-color);
    position: relative;
    overflow: hidden;

    &:before {
        position: absolute;
        content: '';
        display: block;
        bottom: -385px;
        width: 134%;
        height: 470px;
        background-color: #f9f9f9;
        border-radius: 50%;
        left: -16.5%;
        z-index: 1;
    }

    h1 {
        padding: 260px 0 40px;
        font-family: 'Montserrat-SemiBold';
        text-transform: uppercase;
        margin: 0 auto;
        letter-spacing: 0.9px;

        span {
            color: var(--primary-color);
            font-family: 'Montserrat-SemiBold';
        }
    }

    p {
        font-family: 'Montserrat-Light';
        margin-bottom: 100px;
        color: var(--text-light-color) !important;
    }

    button {
        color: var(--text-color);
    }
}

.header .navbar {
    position: absolute;
    z-index: 3;
}

.sticky .navbar {
    position: fixed;
    top: 0;
    z-index: 9;
    background: #3d3d3d;
    box-shadow: 0px 10px 20px 0 rgba(91, 92, 94, 0.16);
}

#root .sticky nav .navbar-brand img {
    max-width: 50%;
}

#root .sticky nav .dropdown-toggle::after {
  display: none;
}

#root .sticky .navbar-nav .nav-link {
    padding: 0;
}

.sticky-item {
    display: none;
}

.sticky {

    .dropdown-toggle {
        display: none;
    }

    .sticky-item {
        display: block;
        padding-top: 0;
    }
}