footer {
    background: #3d3d3d;
    padding: 80px 0 40px;

    img {
        max-width: 250px;
        margin: 0 auto;
    }

    p {
        font-size: 12px;
        font-weight: 300;
        color: #e6e9ec;
        padding-top: 50px;
    }
}