.mission {
    background: #f5f5f5;
    padding: 70px 0px 30px;

    .container-fluid {
        padding: 0 100px;
    }

    h3 {
        font-size: 24px;

    }

    .mission_box {
        height: 230px;
        width: 100%;

        &-1 {
            background: url(../../assets/img/investors.png) center/30% no-repeat;
        }

        &-2 {
            background: url(../../assets/img/growth.png) center/30% no-repeat;
        }

        &-3 {
            background: url(../../assets/img/present.png) center/30% no-repeat;
        }

        &-4 {
            background: url(../../assets/img/rocket.png) center/29% no-repeat;
        }

    }

    .heading {
        margin: 0 auto;

        h2 {
            text-align: center;
            padding-bottom: 100px;
        }
    }

}
